  .button {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
    &:disabled {
      background-color: #aaa !important;
      cursor: not-allowed;
    }  

    &.primary{
    background-color: #0070f3;
    }

    &.success{
    background-color: #0fb100;
    }

    &.danger{
    background-color: #cc2f2f;
    }

    &.secondary{
    background-color: #858585;
    }
  }